.col-12 {
  float: left;
  width: 100%; }

.col-9 {
  float: left;
  width: 75%; }

.col-8 {
  float: left;
  width: 66.7%; }

.col-6 {
  float: left;
  width: 50%; }

.col-4 {
  float: left;
  width: 33.3%; }
  
.col-4 img {
  width: 100%;
  padding-right: 20px; }

.col-3 {
  float: left;
  width: 25%; }