* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;

  background-image: url('../img/hero-img.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;


  font-family: 'Muli', serif;    /* BODY FONT */
  color: #2a2a2a;
  line-height: 1.5rem;
}

p {
  padding-bottom: 1rem;
}

.white-bar {
  width: 100%;
  background: #fcfcfc;
  padding: 20px;
  position: fixed;
  top: 0;
  height: 130px;
  box-shadow: 0px 0px 20px rgba(20, 20, 20, 0.2);
}

.white-bar .top-bar {
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
}

.white-bar .main-heading {
  width: 100%;
}

.white-bar .main-heading .header-left {
  position: absolute;
  top: 0px;
  left: 0px;
}

.white-bar .main-heading .header-left h1 {
  font-family: 'Yeseva One', sans-serif;    /* HEADER FONT */
  color: #3E283F;
  text-shadow: 2px 2px #FFBC5A;
  font-size: 3rem;
  font-weight: bold;
  line-height: 3.5rem;
  letter-spacing: 2px;
}

.white-bar .main-heading .header-left .tagline {
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  margin-left: 7px;
}

.white-bar .main-heading .header-right {
  position: absolute;
  top: 0px;
  right: 0px;
}

.white-bar .main-heading .header-right .browser-nav {
  margin-top: 15px;
}

.white-bar .main-heading .header-right .browser-nav ul {
  display: flex;
  justify-content: center;
  max-width: 960px;
  width: 100%;
  margin: 30px auto;
  text-transform: uppercase;
  list-style: none;
}

.white-bar .main-heading .header-right .browser-nav li a {
  font-size: 0.7em;
  letter-spacing: 1px;
  color: #3E283F;
  text-decoration: none;
  border: 1px solid #3E283F;
  box-shadow: 1px 1px #FFBC5A;
  padding: 7px 40px;
  margin: 0px 10px;
}

.white-bar .main-heading .header-right .browser-nav li a:hover {
  text-decoration: none;
  background-color: #3E283F;
  color: #fcfcfc;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.white-bar .main-heading .header-right .mobile-nav {
  margin-top: 0px;
}

.mobile-nav .hamburger-menu {
  position: fixed;
  top: 15px;
  right: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.mobile-nav .hamburger-menu span {
  display: block;
  border-bottom: 2px solid #2a2a2a;
  padding-bottom: 6px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.mobile-nav .hamburger-menu.active .ham-top {
  transform: translateY(6px) translateX(2px) rotate(45deg);
}

.mobile-nav .hamburger-menu.active .ham-mid {
  opacity: 0;
}

.mobile-nav .hamburger-menu.active .ham-bot {
  transform: translateY(-10px) translateX(-2px) rotate(-45deg);
}

.overlay {
  width: 100%;
  position: fixed;
  top: 100px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.overlay.open {
  background-color: #fcfcfc;
  opacity: 0.95;
  height: 100%;
  visibility: visible;
}

.overlay .menu-overlay ul {
  list-style: none;
  text-align: center;
}

.overlay .menu-overlay li a {
  height: 33.3%;
  height: calc(100% / 3);
  width: 100%;
  font-size: 1.5rem;
  line-height: 500%;
  letter-spacing: 3px;
  color: #2a2a2a;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.overlay .menu-overlay li a:hover {
  color: #FFBC5A;
  padding-left: 20px;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  margin-top: 170px;
  padding: 0px;
}

  .container .item {
    float: left;
    padding: 10px;
  }

.container .item .entry {
  background-color: #fcfcfc;
  width: 100%;
  padding: 40px;
}

.container .item .entry a, .container .item .entry a:active {
  color: #3E283F;
  font-weight: bold;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.container .item .entry a:hover, .container .item .entry a:active:hover {
  text-decoration: none;
  color: #FFBC5A;
}

.container .item .entry h2 {
  font-family: 'Yeseva One', sans-serif;    /* HEADER FONT */
  color: #A1403A;
  text-shadow: 1px 1px #FFBC5A;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  letter-spacing: 1px;
  padding-bottom: 1.2rem;
  margin-top: 15px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.container .item .entry h3 {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.container .item .entry .img-testimonial {
  float: left;
  margin: 20px;
  padding-bottom: 50px;
}

.container .item .work-link {
  padding: 7px 30px;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #2a2a2a;
  letter-spacing: 1px;
  text-decoration: none;
  border: 1px solid #3E283F;
  box-shadow: 1px 1px #FFBC5A;
}

.container .item .work-link:hover {
  background-color: #3E283F;
}

.email-me {
  font-size: 1.5rem;
  line-height: 3rem;
  font-family: 'Yeseva One', serif;
  text-decoration: none;
}

footer {
  max-width: 1000px;
  width: 90%;
  margin: 20px auto;
  padding: 0px;
}

footer .item {
  float: left;
  padding: 10px;
}

footer .item .entry {
  background-color: #fcfcfc;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

footer .item .entry a {
  color: #3E283F;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

footer .item .entry a:hover {
  color: #FFBC5A;
}

.fab {
  font-size: 1.5rem;
  padding: 0px 7px;
}

.fab a {
  font-size: 2.5rem;
  padding: 0px 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.fab a:hover {
  color: #FFBC5A;
}

.far {
  font-size: 30px;
  color: #3E283F;
}

.centered {
  float: none;
  margin: 0px auto;
  text-align: center;
}

.clear {
  clear: both;
}




/******* MEDIA QUERIES *******/
@media screen and (max-width: 768px) {
  .col-8, .col-6, .col-4, .col-3 {
    width: 100%;
  }
}

@media screen and (min-width: 901px) {
  .mobile-nav {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .white-bar {
    height: 100px;
  }

  .white-bar .main-heading .header-left h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .white-bar .main-heading .header-left .tagline {
    font-size: 0.6rem;
  }

  .browser-nav {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .work-link {
    display: block;
    text-align: center;
    margin: 10px 0px;
  }
}