* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #eee;

  background-image: url('../img/hero-img.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: 'Muli', serif;
  color: #2a2a2a;
  line-height: 1.5rem;
}

p {
  padding-bottom: 1rem;
}

.white-bar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px;
  height: 130px;

  background: #fcfcfc;
  box-shadow: 0px 0px 20px rgba(20, 20, 20, 0.2);
}

.white-bar .top-bar {
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
}

.white-bar .main-heading {
  width: 100%;
}

.white-bar .main-heading .header-left {
  position: absolute;
  top: 0px;
  left: 0px;
}

.white-bar .main-heading .header-left h1 {
  font-family: 'Yeseva One', sans-serif;
  color: #3F2540;
  font-size: 3rem;
  font-weight: bold;
  line-height: 3.5rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px #FFBC5A;
}

.white-bar .main-heading .header-left a {
  text-decoration: none;
}

.white-bar .main-heading .header-left .tagline {
  margin-left: 7px;

  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.white-bar .main-heading .header-right {
  position: absolute;
  top: 0px;
  right: 0px;
}

.white-bar .main-heading .header-right .browser-nav {
  margin-top: 15px;
}

.white-bar .main-heading .header-right .browser-nav ul {
  display: flex;
  justify-content: center;
  max-width: 960px;
  width: 100%;
  margin: 30px auto;

  text-transform: uppercase;
  list-style: none;
}

.white-bar .main-heading .header-right .browser-nav li a {
  font-size: 0.7em;
  color: #3F2540;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;

  border: 1px solid #3F2540;
  padding: 7px 40px;
  margin: 0px 10px;
  box-shadow: 1px 1px #FFBC5A;

  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.white-bar .main-heading .header-right .browser-nav li a:hover,
.white-bar .main-heading .header-right .browser-nav li a:active,
.white-bar .main-heading .header-right .browser-nav li a:focus {
  color: #FFBC5A;
  background-color: #3F2540;
  text-decoration: none;
}

.white-bar .main-heading .header-right .mobile-nav {
  margin-top: 0px;
}

.mobile-nav .hamburger-menu {
  position: fixed;
  top: 15px;
  right: 20px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.mobile-nav .hamburger-menu:hover,
.mobile-nav .hamburger-menu:active {
  opacity: 0.5;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.mobile-nav .hamburger-menu span {
  display: block;
  border-bottom: 2px solid #2a2a2a;
  padding-bottom: 6px;

  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.mobile-nav .hamburger-menu.active .ham-top {
  transform: translateY(6px) translateX(2px) rotate(45deg);
}

.mobile-nav .hamburger-menu.active .ham-mid {
  opacity: 0;
}

.mobile-nav .hamburger-menu.active .ham-bot {
  transform: translateY(-10px) translateX(-2px) rotate(-45deg);
}

.overlay {
  position: fixed;
  width: 100%;
  top: 100px;
  left: 0;
  opacity: 0;

  visibility: hidden;
  overflow: hidden;

  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.overlay.open {
  height: 100%;
  background-color: #fcfcfc;
  opacity: 0.95;

  visibility: visible;
}

.overlay .menu-overlay ul {
  list-style: none;
  text-align: center;
}

.overlay .menu-overlay li a {
  height: 33.3%;
  height: calc(100% / 3);
  width: 100%;

  color: #2a2a2a;
  font-size: 1.5rem;
  line-height: 500%;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;

  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.overlay .menu-overlay li a:hover,
.overlay .menu-overlay li a:active,
.overlay .menu-overlay li a:focus {
  color: #FFBC5A;
  padding-left: 20px;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  margin-top: 170px;
  padding: 0px;
}

  .container .item {
    float: left;
    padding: 10px;
  }

.container .item .entry {
  background-color: #fcfcfc;
  width: 100%;
  padding: 40px;
}

.container .item .entry a {
  color: #3F2540;
  font-weight: bold;

  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.container .item .entry a:hover,
.container .item .entry a:active,
.container .item .entry a:focus {
  color: #FFBC5A;
  text-decoration: none;
}

.item .entry h2 {
  margin-top: 15px;
  padding-bottom: 1.2rem;

  font-family: 'Yeseva One', sans-serif;
  color: #A1403A;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  letter-spacing: 1px;
  text-shadow: 1px 1px #FFBC5A;

  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.container .item .entry h3 {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.container .item .entry .img-testimonial {
  float: left;
  margin: 20px;
  padding-bottom: 50px;
}

.container .item .work-link {
  padding: 7px 30px;
  margin-right: 10px;

  color: #2a2a2a;
  font-size: 0.7rem;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid #3F2540;
  box-shadow: 1px 1px #FFBC5A;
}

.container .item .work-link:hover,
.container .item .work-link:active,
.container .item .work-link:focus {
  background-color: #3F2540;
}

.sec-about-me {
  margin: 150px 0px;
}

footer {
  max-width: 1000px;
  width: 90%;
  margin: 20px auto;
  padding: 0px;
}

footer .item {
  float: left;
  padding: 10px;
}

footer .item .entry {
  width: 100%;
  padding: 10px;
  background-color: #fcfcfc;
  text-align: center;

  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 2px;
}

footer .item .entry a {
  color: #3F2540;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

footer .item .entry a:hover,
footer .item .entry a:active,
footer .item .entry a:focus {
  color: #FFBC5A;
}

.uppercase {
  text-transform: uppercase;
}

.fab, .far {
  padding: 0px 7px;
  font-size: 1.5rem;
}

.fab a, .far a {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.fab a:hover, .far a:hover,
.fab a:hover, .far a:active,
.fab a:hover, .far a:focus {
  color: #FFBC5A;
}

.centered {
  float: none;
  margin: 0px auto;
  text-align: center;
}

.clear {
  clear: both;
}