* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;

  background-image: url('../img/hero-img.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;


  font-family: 'Muli', serif;    /* BODY FONT */
  color: #2a2a2a;
  line-height: 1.5rem;
}

p {
  padding-bottom: 1rem;
}

.white-bar {
  width: 100%;
  background: #fcfcfc;
  padding: 20px;
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 20px rgba(20, 20, 20, 0.2);
}

.white-bar .top-bar {
  width: 80%;
  margin: 30px auto;
}

.white-bar .main-heading {
  width: 100%;
  text-align: center;
}

.white-bar .main-heading h1 {
  font-family: 'Yeseva One', sans-serif;    /* HEADER FONT */
  color: #3E283F;
  text-shadow: 2px 2px #FFBC5A;
  font-size: 4rem;
  font-weight: bold;
  line-height: 4.1rem;
  letter-spacing: 2px;
}

.white-bar .main-heading .tagline {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.white-bar .main-heading .browser-nav {
  margin-top: 15px;
}

.white-bar .main-heading .browser-nav ul {
  display: flex;
  justify-content: center;
  max-width: 960px;
  width: 100%;
  margin: 30px auto;
  text-transform: uppercase;
  list-style: none;
}

.white-bar .main-heading .browser-nav li a {
  font-size: 0.7em;
  letter-spacing: 1px;
  color: #3E283F;
  text-decoration: none;
  border: 1px solid #3E283F;
  box-shadow: 1px 1px #FFBC5A;
  padding: 7px 40px;
  margin: 0px 10px;
  font-weight: bold;
}

.white-bar .main-heading .browser-nav li a:hover {
  text-decoration: none;
  background-color: #3E283F;
  color: #fcfcfc;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.white-bar .main-heading .mobile-nav {
  width: 100%;
  margin: 15px auto;
}

.white-bar .main-heading .mobile-nav .nav-link {
  display: block;
  width: 100%;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  margin-top: 300px;
  padding: 0px;
}

  .container .item {
    float: left;
    padding: 10px;
  }

.container .item .entry {
  background-color: #fcfcfc;
  width: 100%;
  padding: 40px;
}

.container .item .entry a, .container .item .entry a:active {
  color: #2a2a2a;
  font-weight: bold;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.container .item .entry a:hover, .container .item .entry a:active:hover {
  text-decoration: none;
  color: #FFBC5A;
}

.container .item .entry h2 {
  font-family: 'Yeseva One', sans-serif;    /* HEADER FONT */
  color: #A1403A;
  text-shadow: 1px 1px #FFBC5A;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  letter-spacing: 1px;
  padding-bottom: 1.2rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.container .item .entry h3 {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.container .item .entry .img-testimonial {
  float: left;
  padding: 20px;
}
.container .item .entry .img-testimonial img {
  border-radius: 50px;
}

.container .item .work-link {
  padding-right: 15px;
}

.container .item .work-link:hover {
  color: #FFBC5A;
}

footer {
  max-width: 1000px;
  width: 90%;
  margin: 20px auto;
  padding: 0px;
}

footer .item {
  float: left;
  padding: 10px;
}

footer .item .entry {
  background-color: #fcfcfc;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

footer .item .entry a {
  color: #2a2a2a;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

footer .item .entry a:hover {
  color: #FFBC5A;
}

.fab {
  font-size: 1.5rem;
  padding: 0px 7px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.centered {
  float: none;
  margin: 20px auto;
  text-align: center;
}

.clear {
  clear: both;
}




/******* MEDIA QUERIES *******/
@media screen and (max-width: 768px) {
  .col-8, .col-6, .col-4, .col-3 {
    width: 100%;
  }
}

@media screen and (min-width: 651px) {
  .mobile-nav {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .main-heading h1 {
    font-size: 2.5rem;
  }

  .browser-nav {
    display: none;
  }
}
