@media screen and (max-width: 768px) {
    .col-8, .col-6, .col-4, .col-3 {
      width: 100%;
    }
  }
  
@media screen and (min-width: 901px) {
    .mobile-nav {
      display: none;
    }
}

@media screen and (max-width: 900px) {
    .white-bar {
      height: 100px;
    }
  
    .white-bar .main-heading .header-left h1 {
      font-size: 2rem;
      line-height: 2rem;
    }
  
    .white-bar .main-heading .header-left .tagline {
      font-size: 0.6rem;
    }
  
    .browser-nav {
      display: none;
    }
  
    .sec-about-me {
      margin: 100px 0px;
    }
    .work-link {
      display: block;
      margin: 10px 0px;
      text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .img-testimonial {
        display: none;
    }
}
  
@media screen and (max-width: 430px) {
    .work-link {
      display: block;
      margin: 10px 0px;
      text-align: center;
    }
}

@media screen and (max-width: 365px) {
  .white-bar .main-heading .header-left h1 {
    font-size: 1rem;
  }
  .white-bar {
    height: 120px;
  }
}